@model MyStore.Models.OrderModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderModel</h4>
    <hr />

    <div class="container">
        <div class="card">
            <div class="card-header">
                Thông tin đơn hàng: @(Model.CodeOrder)
            </div>
            <div class="card-body">
                <h5 class="card-title">Thông tin khách hàng</h5>
                <p class="card-text">
                    Khách hàng: @(Model.CustomerName)
                </p>
                <p class="card-text">
                    Thời gian: @(Model.DateOrder)
                </p>

                <p class="card-text">
                    Số điện thoại: @(Model.CustomerPhone)
                </p>
                <p class="card-text">
                    Email: @(Model.CustomerMail)
                </p>
                <p class="card-text">
                    Địa chỉ: @(Model.CustomerAddress)
                </p>

            </div>

            <div class="card-body">
                <h5 class="card-title">Thông tin khách hàng</h5>
                <table border="1" width="100%">
                    <thead>
                        <tr>
                            <td>Tên sản phẩm</td>
                            <td>Đơn giá</td>
                            <td>Số lượng</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetailModels.Where(de=>de.OrderID == Model.ID))
                        {
                            <tr>
                                <td>
                                    @item.ProductModel.ProductName
                                </td>
                                <td>
                                    @item.ProductModel.Price
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
