@model MyStore.Models.OrderModel

@{
    ViewBag.Title = "Details";
}



<div class="container ">
    <div class="card">
        <div class="card-header">
            Thông tin đơn hàng: @(Model.CodeOrder)
        </div>
        <div class="card-body">
            <h5 class="card-title">Thông tin khách hàng</h5>
            <p class="card-text">
                Khách hàng: @(Model.CustomerName)
            </p>
            <p class="card-text">
                Thời gian: @(Model.DateOrder)
            </p>

            <p class="card-text">
                Số điện thoại: @(Model.CustomerPhone)
            </p>
            <p class="card-text">
                Email: @(Model.CustomerMail)
            </p>
            <p class="card-text">
                Địa chỉ: @(Model.CustomerAddress)
            </p>

        </div>

        <div class="card-body">
            <h5 class="card-title">Thông tin khách hàng</h5>
            <table border="1" width="100%">
                <thead>
                    <tr>
                        <td>Tên sản phẩm</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetailModels.Where(de => de.OrderID == Model.ID))
                    {
                        <tr>
                            <td>
                                @item.ProductModel.ProductName
                            </td>
                            <td>
                                @item.ProductModel.Price
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
